apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-php
spec:
  replicas: {{ .Values.php.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
      component: php
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        component: php
    spec:
      containers:
        - name: php
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 9000
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-config
            - secretRef:
                name: {{ .Release.Name }}-secret
