env:
  APP_ENV: production
  APP_DEBUG: "false"

php:
  replicaCount: 3

worker:
  replicaCount: 2

image:
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80

ingress:
  enabled: true
  host: laravel.example.com
